<div class="w-full max-w-md mx-auto border-2 border-gray rounded-lg p-7">
  <div class="text-3xl font-bold pb-5 text-purple-700">Nuestras Oficinas</div>
  <div class="space-y-4">
    <div class="flex flex-col space-y-2">
      <label class="font-bold">Bogotá:</label>
      <address>
        Calle 100 No 19 – 61, piso 9<br />
        Edificio Empresarial Calle 100<br />
        Bogotá - Colombia<br />
        <a href="tel:+573102336354">310 233 6354</a><br />
        <a href="mailto:sac@soyveci.com">sac@soyveci.com</a><br />
        <a target="_blank" href="https://maps.app.goo.gl/gofDXgnxkwksS6BA8"
          >Ir a Google Maps</a
        >
      </address>
    </div>
    <div class="flex flex-col space-y-2">
      <label class="font-bold">Medellín:</label>
      <address>
        Cra. 55 #N° 42-180 local 203<br />
        La Candelaria<br />
        Medellín - Colombia<br />
        <a href="tel:+573102336354">310 233 6354</a><br />
        <a href="mailto:sac@soyveci.com">sac@soyveci.com</a><br />
        <a target="_blank" href="https://maps.app.goo.gl/Z33obTVzqjAf2RcD7"
          >Ir a Google Maps</a
        >
      </address>
    </div>
  </div>
</div>
