<nav class="bg-[#8A2BE2] text-white">
  <div class="container mx-auto flex items-center justify-between">
    <span class="text-xl font-bold">
      <img src="assets/images/logo/logo.svg" alt="claro" class="object-contain h-20 w-20" />
    </span>
    <div class="flex gap-6">
      <a href="#" class="hover:text-white/80">Inicio</a>
      <a href="#" class="hover:text-white/80">Servicios</a>
      <a href="#" class="hover:text-white/80">Transacciones</a>
      <a href="#" class="hover:text-white/80">Perfil</a>
    </div>
  </div>
</nav>
